# Code Owners of Toolbox Website
# Interested in all parts of the Toolbox website:
* @DO1JLR @maxbachmann @ottojo @DEvil0000 @fbsb @blaues0cke @rtt-mmk @drwuro
# interested in the content of the website
/content/ @haekelhexe @tschanne @drwuro @205er @bodensee @oldwired @phschoen @DO1JLR @maxbachmann @ottojo @DEvil0000 @fbsb @blaues0cke @rtt-mmk 
# interested in game developement content
/content/projekte/spieleentwicklung/ @maluramichael @haekelhexe @tschanne @drwuro @205er @bodensee @oldwired @phschoen @DO1JLR @maxbachmann @ottojo @DEvil0000 @fbsb @blaues0cke @rtt-mmk 
# Need to contribute some website content bevor becoming a CODEOWNER
# @davidblumer
