{#
        Space status

        Can show different messages for an open
        or closed space.
        Is triggered via JavaScript XHR Scripts and  simple CSS Magic
#}
<h1 id="logo">
  <div class="tooltip">
    <a id="space-opened" class="button space-opened navbar special" href="
      {{- translator('api_url', this.alt) }}">
      {{- translator('api_space', this.alt) }} {{
      translator('api_open', this.alt)  -}}
    </a>
    <a id="space-closed" class="button space-closed navbar special" href="
      {{- translator('api_url', this.alt) -}}">
      {{- translator('api_space', this.alt) }} {{
      translator('api_closed', this.alt) -}}
    </a>
    <a id="space-unknown" class="button space-unknown navbar special" href="
      {{- translator('api_url', this.alt) -}}">
      {{- translator('api_unknown', this.alt) -}}
    </a>
    <span class="tooltiptext">
      {{- translator('api_opening_time', this.alt) -}}
    </span>
  </div>
</h1>
