@import 'libs/vars';
@import 'libs/functions';
@import "libs/skel";


//startpage
#scroll-1{
    background-image: _picture-startpage(scroll-1)
}

#scroll-2{
    background-image: _picture-startpage(scroll-2)
}

#scroll-3{
    background-image: _picture-startpage(scroll-3)
}

#scroll-4{
    background-image: _picture-startpage(scroll-4)
}

.iconstartpage{
    line-height: 2
}