{% macro render_blog_post(post, from_index=false) %}
  {% if from_index %}
  <br/><hr/><br/>
  {% endif %}
  <div class="blog-post">
    <header class="major">
    {% if from_index %}
      <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
    {% else %}
      <h2>{{ post.title }}</h2>
    {% endif %}
      <p class="meta">
        Geschrieben von
        {% if post.twitter_handle %}
          <a href="https://chaos.social/@{{ post.twitter_handle
            }}">{{ post.author or post.twitter_handle }}</a>
        {% else %}
          {{ post.author }}
        {% endif %}
        am {{ post.pub_date.strftime('%d.%m.%Y') }}
      </p>
	</header>
<!-- Content -->
    <section id="content">
      {% if from_index %}
        {{ post.body }}
      {% else %}
        {{ post.body }}
        {{ post.beitrag }}
      {% endif %}
    </section>
    {% if from_index %}
    <a class="button fit small" href="{{ post|url }}">Weiterlesen</a>
    <br/>
    {% endif %}
  </div>
{% endmacro %}
