{% macro render_blog_post(post, from_index=false) %}
  {% if from_index %}
        <section class="4u 6u(medium) 12u(xsmall)">
                <span class="icon alt major">
              <a href="{{ post|url }}" style="border-bottom: none;" title="Von {{ post.author }} am {{ post.pub_date.strftime('%d.%m.%Y')}} gestartet"><i class="{{ post.icon }} fa-3x" style="line-height: 2; "></i></a>
          </span>
          <a href="{{ post|url }}"><h3>{{ post.title }}</h3></a>
          <article style="height: 320px;">
              {{ post.teaser }}
            </article>
        </section>
  {% else %}
        <div id="main" class="wrapper style1">
          <div class="container">
            <header class="major">
                <h2>{{ post.title }}</h2>
                <p>Das Projekt wurde von {{ post.author }} am {{ post.pub_date.strftime('%d.%m.%Y') }} ins Leben gerufen.</p>
            </header>
          <section id="content">
            {{ post.body }}
            {% if post.project %} 
            <div id="lightgallery" class="row">{%
              for blk in post.project.blocks %}
                {{ blk }}
              {% endfor %}</div>{%
            endif %}
          </section>
        </div>
      </div>
  {% endif %}
{% endmacro %}
