{% macro render_blog_post(post, from_index=false) %}
  {% if from_index %}
        <section class="4u 6u(medium) 12u(xsmall)">
                <span class="icon alt major">
                    <a href="{{ post|url }}" style="border-bottom: none;" title="{% if post.alt == 'en' %}Launched from{% else %}Von{% endif %} {{ post.author }} {% if post.pub_date %} {% if post.alt == 'en' %}on {{ post.pub_date }}{% else %}am {{ post.pub_date.strftime('%d.%m.%Y')}}{% endif %} {% endif %}{% if post.alt == 'en' %}.{% else %}gestartet.{% endif %}"><i class="{{ post.icon }} fa-3x" style="line-height: 2; "></i></a>
          </span>
          <a href="{{ post|url }}"><h3>{{ post.title }}</h3></a>
          <article style="height: 320px;">
              {{ post.teaser }}
            </article>
        </section>
  {% else %}
        <div id="main" class="wrapper style1">
          <div class="container">
            <header class="major">
                <h2>{{ post.title }}</h2>{%
                  if post.alt == 'en' %}
                  <p>The project was launched from {{ post.author }} {% if post.pub_date %}on {{ post.pub_date }} {% endif %}.</p>{% else %}
                  <p>Das Projekt wurde von {{ post.author }} {% if post.pub_date %}am {{ post.pub_date.strftime('%d.%m.%Y') }} {% endif %}ins Leben gerufen.</p>{% endif %}
            </header>
          <section id="content">
            {{ post.body }}
            {% if post.project %} 
            <div class="lightgallery" class="row alt">{%
              for blk in post.project.blocks %}
                {{ blk }}
              {% endfor %}</div>{%
            endif %}
          </section>
        </div>
      </div>
  {% endif %}
{% endmacro %}
