{%- from "macros/translator.j2" import translator %}
{%- macro render_blog_post(post, from_index=false) %}
  {%- if from_index %}
<section class="4u 6u(medium) 12u(xsmall) project">
  <span class="icon alt major">
    <a href="{{ post|url }}" class="project-creator" title="
    {{- translator('projekt_von', post.alt) }} {{ post.author }}
    {%- if post.pub_date %} {{
      translator('projekt_am', post.alt) }} {{
      post.pub_date.strftime('%d.%m.%Y') }}
    {%- endif %} {{
      translator('projekt_start', post.alt) -}}
      ">
      <i class="{{ post.icon }} fa-3x iconshiftdown"></i>
    </a>
  </span>
  <a href="{{ post|url }}"><h3>{{ post.title }}</h3></a>
  <article class="teaser">
    {{ post.teaser }}
  </article>
</section>
  {%- else %}
<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>{{ post.title }}</h2>
      <p>
        {{- translator('projekt_launch', post.alt) }} {{ post.author }}
    {%- if post.pub_date %} {{
      translator('projekt_am', post.alt) }} {{
      post.pub_date.strftime('%d.%m.%Y') }}
    {%- endif %} {{
      translator('projekt_start', post.alt) -}}
      </p>
    </header>
    <section id="content">
      {{ post.body -}}
    {%- if post.video_is_embedded %}
      {%- for blk in post.video_embedded.blocks %}
        {%- if blk.video_url %}
      {{ blk }} <br/>
      <a class="button" href="https://www.youtube.com/watch?v={{ blk.video_url }}{% if post.alt %}&gl={{ post.alt }}&hl={{ post.alt }}{% endif %}" target="_blank" rel="noopener">
          {{- translator('directytlink', post.alt) -}}
      </a>
        {%- endif %}
        {%- if blk.video %}
      <a class="button" href="{{ blk.video|url }}" download>
          {{- translator('directlink', post.alt) -}}
      </a>
        {%- endif %}
      <br/><br/>
      {%- endfor %}
    {%- endif %} 
    {%- if post.project %} 
      <div class="lightgallery row alt">
      {%- for blk in post.project.blocks %}
        {{ blk }}
      {%- endfor %}
      </div>
    {%- endif %}
    </section>
  </div>
</div>
  {%- endif %}
{%- endmacro %}
