iframe {
  display: inline-block;
}
.video-wall {
  position: relative;
  font: 400 1em/1.46 Helvetica, Arial, sans-serif;
  color: #eee;
  display: inline-block;
  min-height: 18em;
  min-width: 28em;
  margin: 0;
  background-color: #eee;
  box-sizing: border-box;
  border: 0.2em solid #ccc;
  padding: 1em;
}
.video-wall strong {
  background-color: rgba(102, 102, 102, 0.9);
  display: block;
  text-align: center;
  font-size: 1.1em;
  margin: 0;
}
.video-wall div {
  border: 0.1em solid rgba(102, 102, 102, 0.9);
  background-color: rgba(102, 102, 102, 0.9);
  position: absolute;
  width: calc(100% - 2em);
  top: 3em;
  bottom: 7em;
  overflow-y: auto;
}
.video-wall p {
  color: #eee;
  font-size: 0.8em;
  margin: 0 0 1em;
}
.video-wall a {
  border: 0.1em solid rgba(102, 102, 102, 0.9);
  background-color: rgba(102, 102, 102, 0.9);
  color: inherit;
}
.video-wall .video-link {
  display: block;
  white-space: nowrap;
  font-size: 0.8em;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 6em;
  transform: translateX(-50%);
}
.video-wall button {
  -webkit-appearance: none;
  cursor: pointer;
  color: #eee;
  font: 700 0.8em/1.2 Helvetica, Arial, sans-serif;
  display: block;
  width: 11.5em;
  height: 4.25em;
  border: 0 none;
  border-radius: 0.75em;
  padding: 0 0 0 5.5em;
  text-align: left;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);
  background: url("../images/youtube.svg") no-repeat 1em center #666;
  background-size: 3.5em;
  transition: background-color 0.3s;
}
.video-wall button:hover {
  background-color: #444;
}
