/* Banner */

#banner {
    background-attachment: fixed;
    background-color: _palette(accent2);
    background-image: url('../../images/banner.jpg');
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.25);
    min-height: 100vh;
    position: relative;
    text-align: center;
    z-index: (_misc(max-spotlight) + 1);

    &:before {
        content: '';
        display: inline-block;
        height: 100vh;
        vertical-align: middle;
        width: 1%;
    }

    &:after {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .content {
        display: inline-block;
        margin-right: 1%;
        max-width: 95%;
        padding: $size-wrapper-pad-tb;
        position: relative;
        text-align: right;
        vertical-align: middle;
        z-index: 1;

        header {
            display: inline-block;
            vertical-align: middle;

            h2 {
                font-size: 2.5em;
                margin: 0;
            }

            p {
                margin: (_size(element-margin) * 0.25) 0 0 0;
                top: 0;
            }
        }

        .image {
            border-radius: 100%;
            display: inline-block;
            height: 18em;
            margin-left: 3em;
            vertical-align: middle;
            width: 18em;

            img {
                border-radius: 100%;
                display: block;
                width: 100%;
            }
        }
    }
}

body.is-touch {
    #banner {
        background-attachment: scroll;
    }
}