{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
      {% block title %}{{ this.title }}{% endblock %}
{% block body %} 
<!-- Main Blog -->
<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>{{ this.title }}</h2>
      {{ this.description }}
    </header>
   <center>  
     <a href="{{ this.link|url }} style="font-size: 15pt; text-decoration: none;">Bleibe über aktuelle Nachrichten auf dem laufenden!</a>
     <a href="{{ this.link|url }}" class="fas fa-rss"></a>
    </center>
    <section id="content">     
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
  {% endfor %}
      <center>
  {{ render_pagination(this.pagination) }}
      <center>
    </section>
  </div>
</div>
{% endblock %}
