{%- from "macros/translator.j2" import translator %}
{%- set fqdn = 'toolbox-bodensee.de'  -%}
<!DOCTYPE html>
<html{% if alt %} lang="{{ alt }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Startseite{% endblock %}</title>
    <meta property="og:title" content="{{ this.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://toolbox-bodensee.de/images/og-image.png"/>
    <link href="https://{{ fqdn }}/feed_blog.xml" rel="alternate" title="Neues aus der Toolbox" type="application/rss+xml">
    <link href="https://{{ fqdn }}/en/feed_blog.xml" rel="alternate" title="News from Toolbox [EN]" type="application/rss+xml">
    <link href="https://{{ fqdn }}/sxu/feed_blog.xml" rel="alternate" title="Neujes ous da Toolbox [Säggsch]" type="application/rss+xml">
    <link href="https://{{ fqdn }}/feed_projekte.xml" rel="alternate" title="Projekte" type="application/rss+xml">
    <link href="https://{{ fqdn }}/en/feed_projekte.xml" rel="alternate" title="Projects [EN]" type="application/rss+xml">
    <link href="https://{{ fqdn }}/sxu/feed_projekte.xml" rel="alternate" title="Brohjeggde [Säggsch]" type="application/rss+xml">
    <link href="https://c3woc.de/feed_rezepte.xml" rel="alternate" title="Waffelrezepte" type="application/rss+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{%- if '/css/main.css'|asseturl == empty %}
    <link rel="stylesheet" href="{{ '/css/font-awesome.min.css'|asseturl }}" />
    <link rel="stylesheet" href="{{ '/fonts/roboto.css'|asseturl }}" />
{%- endif %}
    <link rel="stylesheet" href=
{%- if '/css/main.css'|asseturl == empty -%}
    "https://{{ fqdn }}/css/main.css"
{%- else -%}
    "{{ '/css/main.css'|asseturl }}"
{%- endif %} />
    <!--[if lte IE 9]><link rel="stylesheet" href=
      {%- if '/css/ie9.css'|asseturl == empty %}"https://{{ fqdn }}/css/ie9.css"
      {%- else %}"{{ '/css/ie9.css'|asseturl }}"
      {%- endif %} /><![endif]-->
{%- block expand_description %}
    <meta name="description" content=
  {{- translator('description', 'translate', this.alt) }} />
{%- endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/icons/apple-touch-icon.png'|asseturl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/icons/favicon-32x32.png'|asseturl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/icons/favicon-16x16.png'|asseturl }}">
    <link rel="manifest" href="{{ '/images/icons/site.webmanifest'|asseturl }}">
    <link rel="mask-icon" href="{{ '/images/icons/safari-pinned-tab.svg'|asseturl }}" color="#e64f2d">
    <link rel="shortcut icon" href="{{ '/images/icons/favicon.ico'|asseturl }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ '/images/icons/browserconfig.xml'|asseturl }}">
    <meta name="theme-color" content="#e64f2d">
{%- block expand_header %}
{%- endblock %}
    <script src="{{ '/js/jquery.min.js'|asseturl }}"></script>
  </head>
  <body class="{% if this._path == '/' %}landing {% endif %} is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header">
        <h1 id="logo">

{#-
 # door state of the club house opened/closed with translations in the corresponding languages
 #}
          <div class="tooltip">
            <a id="tb-opened" class="button tb-opened navbar special" href="
            {{- translator('api_url', 'translate', this.alt) -}}
            ">
              {{- translator('api_space', 'translate', this.alt) }}
              {{- translator('api_open', 'translate', this.alt) | indentfix(1, True)  -}}
            </a>
            <span class="tooltiptext">
              {{- translator('api_open_text', 'translate', this.alt) -}}
            </span>
          </div>
          <div class="tooltip">
            <a id="tb-closed" class="tb-closed" href="
            {{- translator('api_url', 'translate', this.alt) -}}
            ">
              {{- translator('api_space', 'translate', this.alt) }}
              {{- translator('api_closed', 'translate', this.alt) | indentfix(1, True)  -}}
            </a>
            <span class="tooltiptext">
              {{- translator('api_opening_time', 'translate', this.alt) -}}
            </span>
          </div>
        </h1>

{#-
 # Navigation Bar
 #}
        <nav id="nav">
          <ul>
            <li{% if this._path == '/' %} class="active"{% endif %}>
              <a href="{{ '/'|url }}">
                {{- translator('home', 'navigation', this.alt) -}}
              </a>
            </li>
{%- for title, href in bag('nav-bar', "NavBar").items() %}
            <li{% if this.is_child_of(href) %} class="active"{% endif %}>
              <a href="{{ href|url }}">
                {{- translator(title, 'navigation', this.alt) -}}
              </a>
              <ul>
  {%- if bag('nav-bar', 'list', title) %}
    {%- set root = site.get( bag('nav-bar', 'list', title), alt=this.alt) %}
    {%- for child in root.children recursive %}
      {%- if loop.index <= 7 %}
                <li{% if this._path == child._path %} class="active"{% endif %}>
                  <a href="{{ child|url }}">{{ child.shorttitle if child.shorttitle else child.title  }}</a>
                </li>
      {%- endif %}
    {%- endfor %}
  {%- endif %}
  {%- if  bag('nav-bar', title) %}
    {%- for nav_title, nav_url in bag('nav-bar', title).items() %}
                <li>
                  <a href={{ nav_url if 'http' in nav_url else nav_url|url }}
      {%- if bag('nav-bar', 'button', nav_title) %} class="button nav"
      {%- endif -%}
                  >
                    {{- translator(nav_title, 'navigation', this.alt) -}}
                  </a>
                </li>
    {%- endfor %}
  {%- endif %}
              </ul>
            </li>
{%- endfor %}

{#-
 # the language selection is currently not included into the template above, because we did not find a proper solution to integrate them yet
 #}
 {%- set newPath = this._path %}
 {#- append a / wenn needed so there is no http redirect involved when visiting subpages #}
 {%- if not newPath.endswith('/') %}
   {%- set newPath = newPath + '/' %}
 {%- endif %}
            <li class="last">
              <a href="/
              {{- translator('default_path', 'navigation', this.alt, 'en') -}}
              {{ newPath }}">
              {{- translator('sprache', 'navigation', this.alt) -}}
              </a>
              <ul class="last">
                <li>
                  <a href="{{ newPath }}">
                    {{- translator('German', 'navigation', this.alt) -}}
                  </a>
                </li>
                <li>
                  <a href="/sxu{{ newPath }}">
                    {{- translator('Saechsisch', 'navigation', this.alt) }}
                    <i>(
                      {{- translator('falls', 'navigation', this.alt) -}}
                    )</i>
                  </a>
                </li>
                <li>
                  <a href="/en{{ newPath}}">
                    {{- translator('Englisch', 'navigation', this.alt) }}
                    <i>(
                      {{- translator('falls', 'navigation', this.alt) -}}
                    )</i>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      <!-- Main -->
      {%- filter indentfix(6) %}
      {%- block body %}
      {%- endblock %}
      {%- endfilter %}
      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
{%- for label, icon, href in [
  ['Twitter', 'fab fa-twitter', "https://twitter.com/toolboxbodensee"],
  ['Mastodon', 'fab fa-mastodon', "https://chaos.social/@toolbox"],
  ['Facebook', 'fab fa-facebook', "https://www.facebook.com/toolboxbodensee/"],
  ['Instagram', 'fab fa-instagram', "https://www.instagram.com/toolbox_bodensee/"],
  ['GitHub', 'fab fa-github', "https://github.com/ToolboxBodensee"],
  ['YouTube', 'fab fa-youtube', "https://www.youtube.com/channel/UCoTB8frSN0OT2mZl2IXSsDA/videos"],
  ['Mail', 'fas fa-envelope', "mailto:kontakt@toolbox-bodensee.de"],
  ['Telefon', 'fas fa-phone', "tel:+4975449667222"],
  ['News', 'fas fa-rss', "https://toolbox-bodensee.de/feed_blog.xml"]
] %}
          <li><a href="{{ href }}" title="{{ label }}" target="_blank" rel="noopener" class="icon {{ icon }}"></a></li>
{%- endfor %}
        </ul>
        <ul class="copyright">
          <li>&copy;Copyright by Toolbox Bodensee e.V.</li>
          <li>
            <a href="{{ '/impressum/'|url }}">
              {{- translator('Impressum', 'navigation', this.alt) -}}
            </a>
          </li>
          <li>
            <a href="{{ '/datenschutz/'|url }}">
              {{- translator('Datenschutz', 'navigation', this.alt) -}}
            </a>
          </li>
          <li>Design inspired by <a href="http://html5up.net">HTML5 UP</a> </li>
          <!-- CMS: Lektor | Angepasst durch maxbachmann und L3D -->
        </ul>
      </footer>
    </div>
    <!-- Scripts -->
    <script src="{{ '/js/jquery.scrolly.min.js'|asseturl }}"></script>
    <script src="{{ '/js/jquery.scrollex.min.js'|asseturl }}"></script>
    <script src="{{ '/js/skel.min.js'|asseturl }}"></script>
    <script src="{{ '/js/util.min.js'|asseturl }}"></script>
    <script src="{{ '/js/main.min.js'|asseturl }}"></script>
  </body>
</html>
