<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Startseite{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ '/js/ie/html5shiv.js'|url }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ '/css/main.css'|url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css'|url }}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css'|url }}" /><![endif]-->
    <meta name="description" content="Die Toolbox Bodensee e.V. ist ein gemeinnütziger Maker- und hackerspace in Markdorf am Bodensee!" />
    <link rel="icon" href="{{ '/images/logo.svg'|url }}" type="image/svg">
  </head>
  <body class="{% if this._path == '/' %}landing {% endif %} is-preload">
    <div id="page-wrapper">

       <!-- Header -->
        <header id="header">
          <h1 id="logo"><a href="index.html">Toolbox Bodensee e.V.</a></h1>
            <nav id="nav">
              <ul>
                <li{% if this._path == '/' %} class="active"{% endif
                  %}><a href="{{ '/'|url }}">Home</a></li>
                {% for href, title, print in [
                  ['/blog', 'Blog', 1],
                  ['/projekte', 'Projekte', 1],
                  ['/verein', 'Verein', 1],
                  ['/kontakt', 'Kontakt', 1],
                  ['/impressum', 'Impressum', 1]
                ] %}{% if print %}
                  <li{% if this.is_child_of(href) %} class="active"{% endif
                %}{% if title == 'Kontakt' %} class="button special" {% endif 
                %}><a href="{{ href|url }}">{{ title }}</a>{%
                  if title == 'Impressum' %}
                    <ul><li><a href="{{ '/impressum'|url }}">Impressum</a></li>
                        <li><a href="{{ '/datenschutz'|url }}">Datenschmutz</a></li></ul>
                 {% elif title == 'Blog' %}
                    <ul><li><a href="{{ '/feed.xml'|url }}">RSS Feed</a></li></ul>
                 {% elif title == 'Verein' %}
                    <ul><li><a href="{{ '/vereinsheim'|url }}">Vereinsheim</a></li>
                    <li><a href="{{ '/vereinsheim/elektrowerkstatt'|url }}">Elektrowerkstatt</a></li>
                    <li><a href="{{ '/vereinsheim/holzwerkstatt'|url }}">Holzwerkstatt</a></li>
                    <li><a href="{{ '/vereinsheim/lounge'|url }}">Lounge</a></li>
					<li><a href="{{ '/mitglied-werden'|url }}" class="button special">Mitglied werden</a></li>
                    <li><a href="{{ '/verein'|url }}">Satzung & Ordung</a></li></ul>
                 {% elif title == 'Kontakt' %}
                 <ul><li><a href="{{ '/kontakt'|url }}">Anfahrt</a></li>
					<li><a href="{{ '/antworten'|url }}">Häufige Fragen</a></li></ul>
                 {% elif title == 'Projekte' %}
					<ul><li><a href="{{ '/projekte.xml'|url }}">als RSS Abonieren</a></li></ul>
				{% endif %}</li>
				{% endif %}
               {% endfor %}
              </ul>
            </nav>
          </header>

<!-- Main -->
{% block body %}{% endblock %}

       <!-- Footer -->
       <footer id="footer">
         <ul class="icons">
           {% for label, icon, href in [
           ['Twitter', 'fab fa-twitter', "https://twitter.com/toolboxbodensee"],
           ['Mastodon', 'fab fa-mastodon', "https://chaos.social/@toolbox"],
           ['Facebook', 'fab fa-facebook', "https://www.facebook.com/toolboxbodensee/"],
           ['Instagram', 'fab fa-instagram', "https://www.instagram.com/toolbox_bodensee/"],
           ['GitHub', 'fab fa-github', "https://github.com/ToolboxBodensee"],
           ['YouTube', 'fab fa-youtube', "https://www.youtube.com/channel/UCoTB8frSN0OT2mZl2IXSsDA/videos"],
           ['Mail', 'fas fa-envelope', "mailto:kontakt@toolbox-bodensee.de"],
           ['Telefon', 'fas fa-phone', "tel:+4975449667222"],
           ['News', 'fas fa-rss', "https://toolbox-bodensee.de/feed.xml"]
         ] %}
           <li><a href="{{ href }}" title="{{ label }}" target="_blank" class="icon {{ icon }}"></a></li>
         {% endfor %}
        </ul>
        <ul class="copyright">
          <li>&copy;Copyright by Toolbox Bodensee e.V.</li>
          <li><a href="/impressum/">Impressum</a></li>
          <li><a href="/datenschutz/">Datenschutzerklärung</a></li>
          <li>Design inspired by <a href="http://html5up.net">HTML5 UP</a> </li>
          <!-- CMS Lektor | Webfoo: L3D -->
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="{{ '/js/jquery.min.js'|url }}"></script>
    <script src="{{ '/js/jquery.scrolly.min.js'|url }}"></script>
    <script src="{{ '/js/jquery.dropotron.min.js'|url }}"></script>
    <script src="{{ '/js/jquery.scrollex.min.js'|url }}"></script>
    <script src="{{ '/js/skel.min.js'|url }}"></script>
    <script src="{{ '/js/util.js'|url }}"></script>
    <!--[if lte IE 8]><script src="{{ '/js/ie/respond.min.js'|url }}"></script><![endif]-->
    <script src="{{ '/js/main.js'|url }}"></script>
  </body>
</html>
