<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Startseite{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ '/js/ie/html5shiv.js'|url }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ '/css/main.css'|url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css'|url }}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css'|url }}" /><![endif]-->
    <meta name="description" content={% if this.alt == 'en' %}"The Toolbox Bodensee e.V. is a non-profit hackspace in Markdorf on lake constance!"{%
      else %}"Die Toolbox Bodensee e.V. ist ein gemeinnütziger Maker- und Hackspace in Markdorf am Bodensee!"{% endif %} />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/icons/apple-touch-icon.png'|url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/icons/favicon-32x32.png'|url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/icons/favicon-16x16.png'|url }}">
    <link rel="manifest" href="{{ '/images/icons/site.webmanifest'|url }}">
    <link rel="mask-icon" href="{{ '/images/icons/safari-pinned-tab.svg'|url }}" color="#e64f2d">
    <link rel="shortcut icon" href="{{ '/images/icons/favicon.ico'|url }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ '/images/icons/browserconfig.xml'|url }}">
    <meta name="theme-color" content="#e64f2d">
    {% block expand_header %}{% endblock %}
    <script src="{{ '/js/jquery.min.js'|url }}"></script>
  </head>
  <body class="{% if this._path == '/' %}landing {% endif %} is-preload">
    <div id="page-wrapper">

       <!-- Header -->
        <header id="header">
          <h1 id="logo"><a id="tb-opened" class="button special" style="margin-left: -15px; background-color: LimeGreen  !important;" href="/vereinsheim/">{%
              if this.alt == 'en' %}clubhouse open{% else %}Vereinsheim offen{% endif %}</a><a id="tb-closed" style="color: #d23128ff;" href="/vereinsheim/">{%
              if this.alt == 'en' %}clubhouse closed{% else %}Vereinsheim geschlossen{% endif %}</a></h1>
            <nav id="nav">{% if this.alt == 'en' %}
              <ul>
                <li{% if this._path == '/' %} class="active"{% endif
                %}><a href="{{ '/'|url }}">home</a></li>{%
                for href, title, print in [
                  ['/blog', 'blog', 1],
                  ['/projekte', 'projects', 1],
                  ['/vereinsheim', 'society', 1],
                  ['/termine', 'calendar', 1],
                  ['/kontakt', 'contact', 1],
                  ['/impressum', 'imprint', 1]
                ] %}{% if print %}
                  <li{% if this.is_child_of(href) %} class="active"{% endif
                %}{% if title == 'Kontakt' %} class="button special" {% endif 
                %}><a href="{{ href|url }}">{{ title }}</a>{%
                  if title == 'imprint' %}
                    <ul><li><a href="{{ '/impressum'|url }}">imprint</a></li>
                    <li><a href="{{ '/datenschutz'|url }}">data protection</a></li>
                  </ul>{%
                  elif title == 'projects' %}
                    <ul>{% set root = site.get('/projekte/') %}{%
                      for child in root.children recursive %}
                      <li{%
                      if this._path == child._path %} class="active"{% endif
                        %}><a href="{{ child|url }}">{{ child.title }}</a></li>{%
                    endfor %}
                      <li><a href="{{ '/projekte.xml'|url }}">Projekte als RSS Feed</a></li>
                    </ul>{%
                  elif title == 'society' %}
                    <ul><li><a href="{{ '/vereinsheim'|url }}">clubhouse</a></li>
                    <li><a href="{{ '/vereinsheim/elektrowerkstatt'|url }}">electrical workshop</a></li>
                    <li><a href="{{ '/vereinsheim/grobwerkstatt'|url }}">rough workshop</a></li>
                    <li><a href="{{ '/vereinsheim/lounge'|url }}">lounge</a></li>
                    <li><a href="{{ '/verein/presse'|url }}">press</a></li>
                    <li><a href="https://tbbs.me">wiki</a></li>
                    <li><a href="{{ '/mitglied-werden'|url }}" class="button special">become a member</a></li>
                    <li><a href="{{ '/verein'|url }}">membership</a></li></ul>{%
                  elif title == 'contact' %}
                    <ul><li><a href="{{ '/kontakt'|url }}">arrive</a></li>
                    <li><a href="{{ '/antworten'|url }}">frequently asked questions</a></li></ul>{%
                   elif title == 'blog' %}
                    <ul>{% set root = site.get('/blog/') %}{%
                      for child in root.children recursive %}
                      <li{%
                      if this._path == child._path %} class="active"{% endif
                        %}><a href="{{ child|url }}">{{ child.title }}</a></li>{%
                    endfor %}
                    <li><a href="{{ '/feed.xml'|url }}">RSS Feed</a></li></ul>{%
                  endif %}</li>{%
                 endif %}{%
               endfor %}
              </ul>{% else %}
              <ul>
                <li{% if this._path == '/' %} class="active"{% endif
                %}><a href="{{ '/'|url }}">Home</a></li>{%
                for href, title, print in [
                  ['/blog', 'Blog', 1],
                  ['/projekte', 'Projekte', 1],
                  ['/vereinsheim', 'Verein', 1],
                  ['/termine', 'Kalender', 1],
                  ['/kontakt', 'Kontakt', 1],
                  ['/impressum', 'Impressum', 1]
                ] %}{% if print %}
                  <li{% if this.is_child_of(href) %} class="active"{% endif
                %}{% if title == 'Kontakt' %} class="button special" {% endif 
                %}><a href="{{ href|url }}">{{ title }}</a>{%
                  if title == 'Impressum' %}
                    <ul><li><a href="{{ '/impressum'|url }}">Impressum</a></li>
                    <li><a href="{{ '/datenschutz'|url }}">Datenschutz</a></li>
                  </ul>{%
                  elif title == 'Projekte' %}
                    <ul>{% set root = site.get('/projekte/') %}{%
                      for child in root.children recursive %}
                      <li{%
                      if this._path == child._path %} class="active"{% endif
                        %}><a href="{{ child|url }}">{{ child.title }}</a></li>{%
                    endfor %}
                      <li><a href="{{ '/projekte.xml'|url }}">Projekte als RSS Feed</a></li>
                    </ul>{%
                  elif title == 'Verein' %}
                    <ul><li><a href="{{ '/vereinsheim'|url }}">Vereinsheim</a></li>
                    <li><a href="{{ '/vereinsheim/elektrowerkstatt'|url }}">Elektrowerkstatt</a></li>
                    <li><a href="{{ '/vereinsheim/grobwerkstatt'|url }}">Grobwerkstatt</a></li>
                    <li><a href="{{ '/vereinsheim/lounge'|url }}">Lounge</a></li>
                    <li><a href="{{ '/verein/presse'|url }}">Presse</a></li>
                    <li><a href="https://tbbs.me">Wiki</a></li>
                    <li><a href="{{ '/mitglied-werden'|url }}" class="button special">Mitglied werden</a></li>
                    <li><a href="{{ '/verein'|url }}">Mitgliedschaft</a></li></ul>{%
                  elif title == 'Kontakt' %}
                    <ul><li><a href="{{ '/kontakt'|url }}">Anfahrt</a></li>
                    <li><a href="{{ '/antworten'|url }}">Häufige Fragen</a></li></ul>{%
                   elif title == 'Blog' %}
                    <ul>{% set root = site.get('/projekte/') %}{%
                      for child in root.children recursive %}
                      <li{%
                      if this._path == child._path %} class="active"{% endif
                        %}><a href="{{ child|url }}">{{ child.title }}</a></li>{%
                    endfor %}
                    <li><a href="{{ '/feed.xml'|url }}">RSS Feed</a></li></ul>{%
                  endif %}</li>{%
                 endif %}{%
               endfor %}
              </ul>{% endif %}
            </nav>
          </header>

<!-- Main -->
{% block body %}{% endblock %}

       <!-- Footer -->
       <footer id="footer">
         <ul class="icons">
           {% for label, icon, href in [
           ['Twitter', 'fab fa-twitter', "https://twitter.com/toolboxbodensee"],
           ['Mastodon', 'fab fa-mastodon', "https://chaos.social/@toolbox"],
           ['Facebook', 'fab fa-facebook', "https://www.facebook.com/toolboxbodensee/"],
           ['Instagram', 'fab fa-instagram', "https://www.instagram.com/toolbox_bodensee/"],
           ['GitHub', 'fab fa-github', "https://github.com/ToolboxBodensee"],
           ['YouTube', 'fab fa-youtube', "https://www.youtube.com/channel/UCoTB8frSN0OT2mZl2IXSsDA/videos"],
           ['Mail', 'fas fa-envelope', "mailto:kontakt@toolbox-bodensee.de"],
           ['Telefon', 'fas fa-phone', "tel:+4975449667222"],
           ['News', 'fas fa-rss', "https://toolbox-bodensee.de/feed.xml"]
         ] %}
           <li><a href="{{ href }}" title="{{ label }}" target="_blank" class="icon {{ icon }}"></a></li>
         {% endfor %}
        </ul>
        <ul class="copyright">
          <li>&copy;Copyright by Toolbox Bodensee e.V.</li>
          <li><a href="/impressum/">{% if this.alt == 'en' %}imprit{% else %}Impressum{% endif %}</a></li>
          <li><a href="/datenschutz/">{%
            if this.alt == 'en' %}cyber data protection{% else %}Datenschutzerklärung{% endif %}</a></li>
          <li>Design inspired by <a href="http://html5up.net">HTML5 UP</a> </li>
          <!-- CMS: Lektor | Angepasst durch L3D -->
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="{{ '/js/jquery.scrolly.min.js'|url }}"></script>
    <script src="{{ '/js/jquery.dropotron.min.js'|url }}"></script>
    <script src="{{ '/js/jquery.scrollex.min.js'|url }}"></script>
    <script src="{{ '/js/skel.min.js'|url }}"></script>
    <script src="{{ '/js/util.js'|url }}"></script>
    <!--[if lte IE 8]><script src="{{ '/js/ie/respond.min.js'|url }}"></script><![endif]-->
    <script src="{{ '/js/main.js'|url }}"></script>
  </body>
</html>
