{% extends "layout.html" %}
{% from "macros/projekt.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
      {% block title %}{{ this.title }}{% endblock %}
{% block body %} 
<section id="four" class="wrapper style1 special fade-up">
  <div class="container">
    <header class="major">
        <h2>{{ this.title }}</h2>
        {{ this.description }}
    </header>
    <div class="box alt">
      <div class="row uniform">

      {% for child in this.pagination.items %}
        {{ render_blog_post(child, from_index=true) }}
      {% endfor %}
 
      </div>
      <footer class="major">
	    <ul class="actions special">
            <li><a href="{{ '/projekte.xml'|url }}" class="button">Projekte als RSS Abonieren</a></li>
        </ul>
      </footer>
     {{ render_pagination(this.pagination) }}
   </div>
 </div>
</section>
{% endblock %}
