/* Large */

@include breakpoint(large) {

    $size-wrapper-pad-tb: 4.5em;
    $size-wrapper-pad-lr: 2.5em;

    /* Basic */

        body, input, select, textarea {
            font-size: 11.5pt;
        }

    /* Spotlight */

        .spotlight {
            &.top {
                .content {
                    padding: ($size-wrapper-pad-tb * 0.85) 0 (($size-wrapper-pad-tb * 0.85) - _size(element-margin)) 0;
                }
            }

            &.bottom {
                .content {
                    padding: ($size-wrapper-pad-tb * 0.85) 0 (($size-wrapper-pad-tb * 1.1) - _size(element-margin)) 0;
                }
            }

            &.left, &.right {
                .content {
                    padding: $size-wrapper-pad-tb $size-wrapper-pad-lr;
                    width: 25em;
                }
            }
        }

    /* Wrapper */

        .wrapper {
            padding: $size-wrapper-pad-tb 0 ($size-wrapper-pad-tb - _size(element-margin)) 0;
        }

    /* Dropotron */

        .dropotron {
            &.level-0 {
                font-size: 1em;
            }
        }

    /* Banner */

        #banner {
            .content {
                padding: $size-wrapper-pad-tb;
            }
        }

    /* Footer */

        #footer {
            padding: $size-wrapper-pad-tb 0;
        }

}