/* Medium */

@include breakpoint(medium) {

    $size-wrapper-pad-tb: 4.5em;
    $size-wrapper-pad-lr: 2.5em;

    /* Basic */

        body, input, select, textarea {
            font-size: 12pt;
        }

    /* Spotlight */

        .spotlight {
            background-attachment: scroll;
            height: auto;
            min-height: auto;

            .image.main {
                display: block;
                margin: 0;
                max-height: 40vh;
                overflow: hidden;
            }

            .content {
                background-color: _palette(bg-very-transparent);
                border-width: 0 !important;
                border-top-width: 0.35em !important;
                bottom: auto !important;
                left: auto !important;
                padding: $size-wrapper-pad-tb $size-wrapper-pad-lr ($size-wrapper-pad-tb - _size(element-margin)) $size-wrapper-pad-lr !important;
                position: relative;
                right: auto !important;
                text-align: center;
                top: auto !important;
                width: 100% !important;
            }

            .goto-next {
                display: none;
            }
        }

    /* Wrapper */

        .wrapper {
            padding: $size-wrapper-pad-tb $size-wrapper-pad-lr ($size-wrapper-pad-tb - _size(element-margin)) $size-wrapper-pad-lr;
        }

    /* Banner */

        #banner {
            background-attachment: scroll;

            .goto-next {
                height: 7em;
            }

            .content {
                padding: ($size-wrapper-pad-tb * 2) 0;
                text-align: center;

                header {
                    display: block;
                    margin: 0 0 _size(element-margin) 0;
                    text-align: center;
                }

                .image {
                    margin: 0;
                }
            }
        }

    /* Footer */

        #footer {
            padding: $size-wrapper-pad-tb 0;
        }

}