/* Small */

#navPanel, #titleBar {
    display: none;
}

@include breakpoint(small) {

    $size-wrapper-pad-tb: 3.25em;
    $size-wrapper-pad-lr: 1.5em;

    /* Basic */

        html, body {
            overflow-x: hidden;
        }

        body, input, select, textarea {
            font-size: 12pt;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.2em;
        }

        h4 {
            font-size: 1em;
        }

    /* Section/Article */

        header {
            p {
                br {
                    display: none;
                }
            }

            h2 + p {
                font-size: 1em;
            }

            h3 + p {
                font-size: 1em;
            }

            h4 + p,
            h5 + p,
            h6 + p {
                font-size: 0.9em;
            }

            &.major {
                margin: 0 0 _size(element-margin) 0;
            }
        }

    /* Goto Next */

        .goto-next {
            &:before {
                height: 0.8em;
                margin: -0.4em 0 0 -0.6em;
                width: 1.2em;
            }
        }

    /* Spotlight */

        .spotlight {
            box-shadow: 0 0.125em 0.5em 0 rgba(0,0,0,0.25);

            .image.main {
                max-height: 60vh;
            }

            .content {
                border-top-width: 0.2em !important;
                padding: $size-wrapper-pad-tb $size-wrapper-pad-lr ($size-wrapper-pad-tb - _size(element-margin)) $size-wrapper-pad-lr !important;
            }
        }

    /* Wrapper */

        .wrapper {
            padding: $size-wrapper-pad-tb $size-wrapper-pad-lr ($size-wrapper-pad-tb - _size(element-margin)) $size-wrapper-pad-lr;
        }

    /* Header */

        #header {
            display: none;
        }

    /* Banner */

        #banner {
            box-shadow: 0 0.125em 0.5em 0 rgba(0,0,0,0.25);
            min-height: calc(100vh - 44px);

            &:before {
                height: calc(100vh - 44px);
            }

            .content {
                padding: ($size-wrapper-pad-tb * 1.25) $size-wrapper-pad-lr ($size-wrapper-pad-tb * 1.5) $size-wrapper-pad-lr;

                header {
                    h2 {
                        font-size: 1.5em;
                    }
                }

                .image {
                    height: 9em;
                    width: 9em;
                }
            }
        }

    /* Off-Canvas Navigation */

        #page-wrapper {
            @include vendor('backface-visibility', 'hidden');
            @include vendor('transition', 'transform #{_duration(navPanel)} ease');
            padding-bottom: 1px;
            padding-top: 44px !important;
        }

        #titleBar {
            @include vendor('backface-visibility', 'hidden');
            @include vendor('transition', 'transform #{_duration(navPanel)} ease');
            display: block;
            height: 44px;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: _misc(z-index-base) + 1;
            background: _palette(accent2);
            box-shadow: 0 0.125em 0.125em 0 rgba(0,0,0,0.125);

            .title {
                color: _palette(fg-bold);
                display: block;
                font-weight: _font(weight-bold);
                height: 44px;
                line-height: 44px;
                text-align: center;

                a {
                    color: inherit;
                    border: 0;
                }
            }

            .toggle {
                @include icon;
                height: 60px;
                left: 0;
                position: absolute;
                top: 0;
                width: 90px;
                outline: 0;
                border: 0;

                &:before {
                    background: _palette(accent3);
                    color: _palette(fg-light);
                    display: block;
                    font-size: 18px;
                    height: 44px;
                    left: 0;
                    line-height: 44px;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 54px;
                }
            }
        }

        #navPanel {
            @include vendor('backface-visibility', 'hidden');
            @include vendor('transform', 'translateX(#{_size(navPanel) * -1})');
            @include vendor('transition', ('transform #{_duration(navPanel)} ease'));
            display: block;
            height: 100%;
            left: 0;
            overflow-y: auto;
            position: fixed;
            top: 0;
            width: _size(navPanel);
            z-index: _misc(z-index-base) + 2;
            background: darken(_palette(bg), 2);
            padding: 0.75em 1.25em;

            .link {
                border: 0;
                border-top: solid 1px transparentize(_palette(border), 0.25);
                color: _palette(fg);
                display: block;
                height: 3em;
                line-height: 3em;
                text-decoration: none;

                &:hover {
                    color: inherit !important;
                }

                &:first-child {
                    border-top: 0;
                }

                &.depth-0 {
                    color: _palette(fg-bold);
                    font-weight: _font(weight-bold);
                }

                .indent-1 { display: inline-block; width: 1.25em; }
                .indent-2 { display: inline-block; width: 2.5em; }
                .indent-3 { display: inline-block; width: 3.75em; }
                .indent-4 { display: inline-block; width: 5em; }
                .indent-5 { display: inline-block; width: 6.25em; }
            }
        }

        body {
            &.navPanel-visible {
                #page-wrapper {
                    @include vendor('transform', 'translateX(#{_size(navPanel)})');
                }

                #titleBar {
                    @include vendor('transform', 'translateX(#{_size(navPanel)})');
                }

                #navPanel {
                    @include vendor('transform', 'translateX(0)');
                }
            }
        }

    /* Footer */

        #footer {
            padding: $size-wrapper-pad-tb $size-wrapper-pad-lr;
        }
}